body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(97, 145, 227);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.by{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    height: 100vh;
}

.item{
    align-self: flex-end;
}